.flexBox{
    display: flex;
    flex-wrap: nowrap/*nowrap | wrap | wrap-reverse*/;
    margin: 50px;
}

.item{
    width:200px;
    height:200px;
    background-color: burlywood;
    margin: 10px;
}

.anotherFlex{
    display: flex;
    flex-wrap: wrap;
    margin: 50px    ;
}

.reverseFlex{
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 50px;
}